@import "tailwindcss";

:root {
  --background: #101010;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-inter: var(--font-inter);
  --font-family-orpix: var(--font-orpix);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-orpix);
}


.inter {
  font-family: var(--font-inter);
}


::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

}

#fluid {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Important: allows interaction through canvas */
  mix-blend-mode: overlay; /* or screen, or normal + opacity */
  opacity: 0.9;
  z-index: 9999;
}